  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-align-center">
        <article>
          <% @articles.each do |article| %>
          <h2>
          <a href="/articles/<%= "#{article.id}" %>"><%= article.title %></a>
          </h2>
          <p><%= article.content %></p>
          <% end %>
        </article>
      </div>
    </div>
  </div>
